.index-page {
  padding-left: 20%;
  padding-right: 20%;
  height: calc(100vh + 60px);
  overflow: hidden;
  box-sizing: border-box;
  .blog {
    width: 100%;
    margin: 60px auto 0;
    padding: 48px;
    background-color: #ffffff;
    float: left;
    box-sizing: border-box;
  }
  .classification {
    width: 20%;
    float: left;
    margin-left: -100%;
    margin-top: 60px;
    position: relative;
    left: -20%;
    z-index: 1;
  }
  .blank {
    width: 20%;
    float: left;
    margin-left: -20%;
    margin-top: 60px;
    position: relative;
    right: -20%;
    z-index: 1;
  }
}
